html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
  background-color: rgb(83, 83, 83);
}

h1 {
  margin: 0px;
  padding: 0px;
  color: grey;
 
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}


.header-container {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: fixed;
  place-items: center;
  height: 60px;
  
}

.menu-icon {
  display: flex;
  color: grey;
  justify-self: end;
  justify-items: center;
  font-size: 30px;
  padding-top: 10px;
}

.menu-icon:hover {
  cursor:pointer;
}

#fa-menu-icon {
  justify-self: end;
  align-self: center;
}

.collapsible-menu {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.menu-content {
  display: flex;
  align-content: center;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  padding: 0px 0px 0px 40px;
   align-self: center;
   color: black;
   font-size: 2em;
}

.menu-dot {
  color: rgb(255, 230, 5);
}
.x-logo {
  max-width:100%;
  max-height:100%;
  height: 50px;
  padding: 10px;
}


.content {
  /*background-image: url('img/section1.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  
}

.section {
  height: 100vh;
  display: grid;
  background-color: 0 0 0 0;
  
}

.section.section1 {
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: 70% 30%;
}

.section.section2 {
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 90% 30%;
}

.radical-text {
  color: grey;
  white-space: normal;
}



.radical-text.text2 {
  font-size: 2em;
  grid-area: 1 / 2 / 2 / 2;
  align-self: end;
}


.fade-bg {
 
  
}

.logo-load-container {
  padding: 0px;
 margin: 0px;
 min-height: 100px;
}

#floyd-logo-vivus {
  fill-opacity: 1;
  transition: fill-opacity 5s;
  padding: 0px;
  margin: 0px;
  min-height: 100px;
}

#floyd-logo-vivus.finished * {
  fill-opacity: 1;
} 

#floyd-logo-outline {
  height: 60px;
  position: fixed;
  left: 20px;
  top: 10px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #floyd-logo-outline {
    height: 80px;
    position: fixed;
    left: 40px;
    top: 10px;
  }

  .menu-icon {
   
    font-size: 33px;
    padding-top: 24px;
  }

  .header-container {
    grid-template-columns: 20% 70% 10%;
  }

  .section.section2 {
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 90% 30%;
  }
  
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }