html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  margin: 0px;
  padding: 0px;
  color: grey;
 
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}


.header-container {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.212);
  position: fixed;
}


.collapsible-menu {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.menu-content {
  display: flex;
  align-content: center;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  padding: 0px 0px 0px 40px;
   align-self: center;
   color: black;
   font-size: 2em;
}

.menu-dot {
  color: rgb(255, 230, 5);
}
.x-logo {
  max-width:100%;
  max-height:100%;
  height: 50px;
  padding: 10px;
}


.content {
  /*background-image: url('img/section1.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.section {
  height: 100vh;
  display: grid;
  
}

.section.section1 {
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: 70% 30%;
}

.section.section2 {
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: 70% 30%;
}

.radical-text {
  color: grey;
}

.radical-text.text1 {
  justify-self: start;
  grid-area: 2 / 2 / 2 / 2
}

.radical-text.text2 {
  justify-self: start;
  grid-area: 2 / 2 / 2 / 2
}


.fade-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

#floyd-logo-vivus {
  height: 100px;
  fill-opacity: 1;
  transition: fill-opacity 5s;
  padding: 0px;
  margin: 0px;
}

#floyd-logo-vivus.finished * {
  fill-opacity: 1;
} 

.logo-load-container {
  padding: 0px;
  margin: -10px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .logo-load-container {
    padding: 8px;
    
  }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }